--extra-index-url https://download.pytorch.org/whl/cu126

torch>=2.11.0
torchmetrics==1.8.2
triton-windows
torchvision
matplotlib
einops
fvcore
ConfigArgParse
pytest
pytest-order
scipy
constriction==0.4.2
